
@media (max-width: 870px)
{
    .imageBlock{
        background-position-y: 0 !important;
    }

    .Row2 .map{
        width: 70vw !important;
    }
}

.header{
    max-width: 100%;
}

.imageBlock{
    background-color: rgba(3, 3, 3, 0.5) !important;
    background-blend-mode: multiply;
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20vh;
    height: 50vh;
}

.Row2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Row2 .title{
    font-size: 1.7rem;
    margin-bottom: 2vh;
}

.Row3{
    background-color: #8fb7c8;
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
}

.Row3 .map{
    width: 98.5vw;
    height: 45vh;
}

.Row3 .mapAdress{
    display: flex;
    flex-direction: column;
}

.Row3 .title{
    font-size: 1.7rem;
    margin-bottom: 2vh;
}
